<%- layout('layouts/boiler') %>
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Update neighborhood</h2>
        <form action="/neighborhoods/<%= neighborhood._id %>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <div class="sm:col-span-2">
                    <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Hood title</label>
                    <input type="text" name="neighborhood[title]" id="title"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="Type hood title" value="<%= neighborhood.title %>" required>
                        <p class="mt-2 text-sm text-blue-600">Title is required</p>
                </div>
                <div class="w-full">
                    <label for="location" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Location</label>
                    <input type="text" name="neighborhood[location]" id="location"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="Add location" value="<%= neighborhood.location %>" required>
                        <p class="mt-2 text-sm text-blue-600">Location is required</p>
                </div>
                <div class="w-full">
                    <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
                    <input type="number" name="neighborhood[price]" id="price"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="GMD 0.00" value="<%= neighborhood.price %>" required>
                        <p class=" mt-2 text-sm text-blue-600">Price is required</p>
                </div>
                <div class="w-full">
                    <label for="schools"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Schools</label>
                    <input type="text" id="schools" name="neighborhood[schools][]" placeholder="School 1"
                        class="w-24 p-1 text-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white mb-2">
                    <input type="text" name="neighborhood[schools][]" placeholder="School 2"
                        class="w-24 p-1 text-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white mb-2">
                    <input type="text" name="neighborhood[schools][]" placeholder="School 3"
                        class="w-24 p-1 text-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white mb-2">
                </div>
                <div class="w-full">
                    <label for="transport"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Transport</label>
                    <input type="text" id="transport" name="neighborhood[transport][]" placeholder="Transport 1"
                        class="w-24 p-1 text-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white mb-2">
                    <input type="text" name="neighborhood[transport][]" placeholder="Transport 2"
                        class="w-24 p-1 text-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white mb-2">
                    <input type="text" name="neighborhood[transport][]" placeholder="Transport 3"
                        class="w-24 p-1 text-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white mb-2">
                </div>

                <div>
                    <label for="safety" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Safety</label>
                    <select id="safety" name="neighborhood[safety]"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        <option value="safe" <%= neighborhood.safety === 'safe' ? 'selected' : '' %>>Safe</option>
                        <option value="unsafe" <%= neighborhood.safety === 'unsafe' ? 'selected' : '' %>>Unsafe</option>
                    </select>
                    <p class=" mt-2 text-sm text-blue-600">Safety must be selected</p>
                </div>
                <div>
                    <label for="population" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Population</label>
                    <input type="number" name="neighborhood[population]" id="population"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="200000" value="<%= neighborhood.population %>">
                        <p class=" mt-2 text-sm text-blue-600">Population is required</p>
                </div>
                <div>
                    <label for="businesses"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Businesses</label>
                    <input type="text" id="businesses" name="neighborhood[businesses][]" placeholder="Business 1"
                        class="w-24 p-1 text-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white mb-2">
                    <input type="text" name="neighborhood[businesses][]" placeholder="Business 2"
                        class="w-24 p-1 text-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white mb-2">
                    <input type="text" name="neighborhood[businesses][]" placeholder="Business 3"
                        class="w-24 p-1 text-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white mb-2">

                </div>                    

                <div class="sm:col-span-2">
                    <label for="description" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                    <textarea id="description" name="neighborhood[description]" rows="2"
                        class="block p-1 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="Your description here"><%= neighborhood.description %></textarea>
                </div>

                <div class="flex items-center justify-start mb-3">
                    <label for="image" class="flex items-center justify-center w-40 h-20 mt-3 border-2 border-gray-300 border-l-inherit rounded-md cursor-pointer p-2 bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500">
                        <div class="flex flex-col items-center justify-center w-full h-full">
                            <svg class="w-7 h-7 mb-0 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                            </svg>
                            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                        </div>
                        <input id="image" type="file" name="image" class="hidden" multiple/>
                    </label>
                </div>
                <div id="file-names" class=" text-blue-800 font-semibold rounded-md mt-2 p-2 shadow-md bg-slate-300 max-h-full"></div>

                <!-- DELETE IMAGE -->
                <div class="mb-3 d-flex flex-wrap">
                    <% neighborhood.images.forEach(function (img, i) { %>
                        <div class="image-container d-inline-block m-2">
                            <img src="<%= img.thumbnail %>" class="img-thumbnail img-fluid" alt="" style="max-width: 150px;">
                            <div class="form-check form-check-inline">
                                <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                            </div>
                            <label for="image-<%= i %>">Delete?</label>
                        </div>
                    <% }) %>
                </div>
                
            </div>
            <button type="submit" class="text-black bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 mt">Update</button>
        </form>
    </div>
</section>
