<%- layout('layouts/boiler') %>
    <div class="flex flex-wrap gap-4 justify-center mt-2">

        <% for (let neighborhood of topRating) { %>

            <% if(neighborhood.avgRating !==0 && neighborhood.reviews.length >= 2) {%>
                <div
                    class="uniform-card max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <div id="default-carousel" class="relative w-full h-56" data-carousel="static">
                        <!-- Carousel wrapper -->
                        <div class="relative h-full overflow-hidden rounded-lg">

                            <% neighborhood.images.forEach((img, i)=> { %>
                                <!-- Item -->
                                <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
                                    <img crossorigin="anonymous" src="<%= img.url %>"
                                        class="absolute block w-full h-full object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                        alt="...">
                                </div>
                                <% }) %>

                        </div>

                        <!-- Slider indicators -->
                        <div
                            class="absolute z-30 flex -translate-x-1/2 space-x-3 rtl:space-x-reverse bottom-5 left-1/2">
                            <% neighborhood.images.forEach((_, i)=> { %>
                                <button type="button" class="w-2 h-2 rounded-full" aria-current="false"
                                    aria-label="Slide <%= i + 1 %>" data-carousel-slide-to="<%= i %>"></button>
                                <% }) %>
                        </div>
                        <% if (neighborhood.images.length> 1) { %>
                            <!-- Slider controls -->
                            <button type="button"
                                class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                                data-carousel-prev>
                                <span
                                    class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                    <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M5 1 1 5l4 4" />
                                    </svg>
                                    <span class="sr-only">Previous</span>
                                </span>
                            </button>
                            <button type="button"
                                class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                                data-carousel-next>
                                <span
                                    class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                    <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="m1 9 4-4-4-4" />
                                    </svg>
                                    <span class="sr-only">Next</span>
                                </span>
                            </button>
                            <% } %>
                    </div>

                    <div class="pl-3 pt-2">
                        <div class="inline-flex  justify-between w-full">
                            <h5 class=" text-2l font-bold tracking-tight text-gray-900 dark:text-white">
                                <%= neighborhood.title %>
                            </h5>
                            <div class="inline-flex">
                                <% if(currentUser) {%>
                                    <form action="/neighborhoods/<%= neighborhood._id %>/favourites" method="POST" class="ml-3 favourite-form">
                                        <button
                                            class="flex items-center ml-3 text-sm font-medium border-none
                                                   <%= neighborhood.favourites.includes(currentUser._id) ? 'text-red-600' : 'text-gray-300' %>"
                                            title="<%= neighborhood.favourites.includes(currentUser._id) ? 'Remove from favourites' : 'Add to favourites' %>" type="submit">
                                            <i class="<%= neighborhood.favourites.includes(currentUser._id) ? 'fa-solid fa-heart text-xl mr-2' : 'fa-solid fa-heart text-xl mr-2' %> "></i>
                                        </button>
                                </form>
        
                                    <% } else {%>
                                        <a href="/login"class="flex items-center ml-3 text-sm font-medium border-none text-gray-300"
                                        title="Add to favourites">
                                            <i class="fa-solid fa-heart text-xl mr-2"></i>

                                        </a>
                                        <% } %>

            
                                <p class="font-semibold mr-1"><i class="fas fa-star text-l text-yellow-300"></i><%=neighborhood.avgRating.toFixed(1)%></p>
        
                            </div>                        
        
                        </div>
                        <p class="font-normal text-gray-700 dark:text-gray-400">
                            <%= neighborhood.location %>
                        </p>
                        <p class="font-normal text-gray-700 dark:text-gray-400">
                            <%= neighborhood.safety %>
                        </p>
                        <p class="font-bold text-green-600 dark:text-gray-400">Living cost: GMD <%= neighborhood.price
                                %>
                        </p>

                        <div class="show-on-hover">
                            <a href="/neighborhoods/<%= neighborhood._id %>"
                                class="inline-flex items-center px-3 py-2 text-sm mb-1 font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                View details
                                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <% } %>
                    <% } %>
    </div>
    <script src="/javascripts/preventRef.js"></script>